.button {
  padding: 10px; 
  background: green;
  color: white;
  border: none;
}

.button:hover {
  background: darkgreen;
  transform: scale(0.1);
}

.nav { display: none; }
.menu:hover .nav { display: block; }

